<% layout("/layouts/boilerplate.ejs") %>
    <!-- <h1> All Listings</h1> -->
     <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
        /* margin-top: 0.1rem; */
        justify-content: center;
        align-items: center;
      }

      .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 1rem;
        opacity: 0.7;
      }

      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }

      .filter p{
        font-size: 0.9rem;
      }

      .tax-info{
        display: inline;
      }

      .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 2.5rem;
        padding: 1rem;
        padding-top: 0.5rem;
        /* margin-left: 4rem; */
      }
     </style>

     <div id="filters">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic</p>
        </div>
        <div class="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Pools</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>Hillstations</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p>
        </div>
        <div class="filter">
          <div><i class="fa-regular fa-snowflake"></i></div>
          <p>Cool</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-sailboat"></i></div>
          <p>Farms</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-volleyball"></i></div>
          <p>Cool</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-shuffle"></i></div>
          <p>Other</p>
        </div>
        <div class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Tax</label>
          </div>
        </div>
     </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-1">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col onHover listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listings_img" style="height: 20rem">
                <div class="card-body">
                  <h5 class="card-title"><%=listing.title%></h5>
                  <p class="card-text">
                  &#8377 <%=listing.price.toLocaleString("en-IN")%> / night
                  <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
                </p>
                </div>
              </div>
            <!-- </a> -->
              <% } %>
    </div>

<script>
  let taxToggle = document.getElementById("flexSwitchCheckChecked");
  taxToggle.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display!="none"){
          info.style.display = "none";
      }else{
        info.style.display = "inline";
      }
    }
  }); 
</script>