<% layout("/layouts/boilerplate") %>
<style>
    .vertical-center {
        min-height: 100vh; /* Ensure full viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh; /* Adjust the top padding as needed */
    }
</style>

<div class="container">
    <div class="row vertical-center">
        <div class="col-md-6">
            <h3>Login to StayHaven!</h3>
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                
                <div class="mb-4">
                    <button class="btn btn-lg btn-dark add-btn"><i class="fa-solid fa-circle-check"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
